body {
	margin:0;
	background-color: rgb(247, 211, 88);
}

#header {
	width:100%;
	height:160px;
	background-color: #c8d452;
	/*background-color: rgba(204, 255, 0, 0.5);*/
	position:absolute;
	border-bottom: 3px solid rgba(255, 0, 0, 0.33);
}

.wrapper {
	max-width: 1000px;
	min-width: 300px;
	margin-left: auto;
	margin-right: auto;
/*	background-color: white;
	height: 100px*/;

}

.page {
	width:100%;
	border: 1px solid #CCCCCC;
	box-shadow: 2px 2px 2px #CCCCCC;
	background-color: white;	
}

#slideshow {
	position:relative !important;
	top:100px !important;
}

#slideshow img {
	width:98%;
	padding:1%;
}


.clear {
	clear:both;
}