body {
	margin:0;
	/*background-color: rgb(247, 211, 88);*/
	background-color: rgb(255, 244, 207);
	font-size: 17px;
}

#header {
	width:100%;
	height:240px;
	/*background-color: #c8d452;*/
	background-color: #DCE680;
	/*background-color: rgba(204, 255, 0, 0.5);*/
	position:absolute;
	border-bottom: 3px solid rgba(255, 0, 0, 0.33);
}

#header h1 {
	
	text-align: left;
	/*font-style: italic;*/
	padding:0;
	margin:20px 0 10px 0;
	font-size: 40px;
	float:left;
}

#header h2 {
	text-align: left;
	font-style: italic;
	padding:0;
	margin:0 0 0 40px;
	font-size: 23px;
	float:left;
}


.wrapper {
	max-width: 1000px;
	min-width: 300px;
	margin-left: auto;
	margin-right: auto;
/*	background-color: white;
	height: 100px*/;

}

.page {
	width:100%;
	border: 1px solid #CCCCCC;
	box-shadow: 2px 2px 2px #CCCCCC;
	background-color: white;	
}

.page h3 {
	text-align: center;
	width: 100%;
	margin: 0;
}


#slideshow {
	position:relative !important;
	top:140px !important;
}

#slideshow img {
	width:98%;
	padding:1%;
}


.clear {
	clear:both;
}

#nav {
	float:right;
/*	min-width: 500px;
	max-width: 700px;*/
	width: 100%;
}

#nav ul {
	margin:0;
	padding:0;
	width:60%;
	float:right;
	
}

#nav a {
	border-right: 1px solid rgb(73, 180, 107);
	border-radius: 8px;	
	float:left;
	width:22.5%;
	padding:1%;
	text-align: center;
	text-decoration: none;
}

#nav a:last-child {
	/*border-right: 1px solid rgb(73, 180, 107);*/
}

#nav li {
	display: inline;
	list-style: none;
	text-align: center;
	margin:0;
	padding:0;
	

	/*border-right: 1px solid rgb(73, 180, 107);*/
}

.divider-large {
	width:66.66%;
	border-bottom: 1px solid #CCCCCC;
	margin: 40px auto 40px auto;
}

.third {
	float:left;
	width:23.33%;
	margin:20px 5%;
	text-align: center;
}